<h3>Send a new message:</h3>
<form id="message-form">
  <input type="hidden" id="room" value="{{currentRoom}}"></input>
  <input type="text" id="message" name="message" placeholder="Enter your message here"></input>
  {{!--<input  ></input>--}}
  <button type="submit" class="btn btn-primary" value="Send">Primary</button>
</form>


