<h2>Log in as a user by choosing a username</h2>
<form action='/users' method="post">
  Name:<br>
  <input type="text" name="username" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 