<div id="container">
  <div class="column" id="rooms-list">{{>rooms-list}}</div>
  <div class="column" id="current-room">{{>current-room}}</div>
  <div class="column" id="new-post">{{>new-post}}</div>
</div>